<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block css %} {% endblock %}
    <title>{% block title %} {% endblock %}</title>
  </head>

  <body>
    <nav>
      <div class="container-fluid">
        <!-- Header-->
        <div class="navbar-header">
          <div class="navbar navbar-inverse">
            
            </button>
            <a class="navbar-band" href="">Jager-monsters</a>
          </div>
          <div class="bracket">
            <ul class="navbar">
              
                <li>
                  <a href="/"> Home </a>
                </li>
              
              
                <li>
                  <a href="/locations/">Locations</a>
                </li>
              
              
                <li>
                  <a href="/monsters/">Monsters</a>
                </li>
              
            </ul>
          </div>
        </div>
      </div>
    </nav>

    {% block content %}{% endblock %}
  </body>
</html>
