{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'jaegerserver/app.css' %}">
{% endblock %}
{% block title %}Monsters From Beyond | Home{% endblock %}
{% block content %}
<div class="content-container">
    <h1>Monsters Roaming Amongst Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim incidunt dolores itaque atque. Libero, magni?</p>
    <div>
        <h2>Monsters</h2>
        <!-- insert monster image -->
        <button class="btn btn-primary">Explore what's out there</button>
    </div>
    <div>
        <h2>Location</h2>
        <!-- insert location image -->
        <button class="btn btn-primary">Discover where they lurk</button>
    </div>
</div>
{% endblock %}